@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-black-blur {
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.4;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
